.DS_Store
# Ignore folders
Output/
.ipynb_checkpoints
__pycache__/
.vscode
temp/
config.yml
merged
dataBases/
config
**/[C]onfig*
dataframe.csv
temp_*
~$*
Figure_Distributions_*
out.txt
output.txt
analyses/
analyses_*
output__*
slurm-*
out-*
masks_*
mask_*
tests/
results/
/results/
test*/
test*
filtered_images_*/
kk*
test_simulation/
database*
OneDrive*/
src/__pycache__/
*.tif
*.lif
*.jpg
*.png
*.pdf
*.svg
*.csv
*.xlsx
spatio_temporal_models/
*particle*.png
dev/
*.cds.all.fa
optimization/
optimization_new/
UTag paper writing/
.agent/
manuscript/
